<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614050727407-aehrq2srlj3mbah9hj7787s50rmh2r77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614050727407-aehrq2srlj3mbah9hj7787s50rmh2r77</string>
	<key>API_KEY</key>
	<string>AIzaSyA5gNqQebYo0R_RqBdD4JMI2-RLPUH2SCE</string>
	<key>GCM_SENDER_ID</key>
	<string>614050727407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manga.kingdom</string>
	<key>PROJECT_ID</key>
	<string>manga-dev-313513</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-dev-313513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614050727407:ios:565779ccf43c3f6956621a</string>
</dict>
</plist>